@charset "UTF-8";
/*          Primary Values          */
@font-face {
  font-family: "Minecraft";
  src: url("fonts/minecraft_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*----------------------------------*/
/*          Mixin Values            */
/*---------------------------------*/
body {
  background-color: #131c28;
}

.super-container {
  background-color: #10415b;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}
.super-container .container {
  padding: 20px;
}
.super-container .container .icons {
  font: normal 2em "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.super-container .container .icons span, .super-container .container .icons a {
  color: #FFF;
}
.super-container .container .menu-pc {
  display: none;
}
.super-container .container .login-button {
  display: none;
}
.super-container .menu {
  display: none;
  gap: 1rem;
  padding: 1rem;
  transform: 0.3s ease-in-out;
  width: 100%;
}
.super-container .menu a {
  color: #FFF;
  transition: 0.3s ease-in-out;
  font: normal 1em "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}
.super-container .menu.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out forwards !important;
}
.super-container.closeTab {
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.logo-container {
  position: relative;
  background: url("../assets/background.jpg") center/cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 75px;
}
.logo-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.25);
  z-index: 1;
}
.logo-container .container {
  position: relative;
  z-index: 2;
}
.logo-container .container .discord-ip, .logo-container .container .server-ip {
  display: none;
}
.logo-container .container img {
  max-width: 250px;
  width: 100%;
}
.logo-container.closeTab {
  display: none;
}

.social-container {
  position: relative;
  top: 100px;
  padding: 20px 0;
}
.social-container .container .server {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}
.social-container .container .server, .social-container .container .discord {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: #FFF;
  cursor: pointer;
  font: bold 1em "Roboto", sans-serif;
}
.social-container .container .server span, .social-container .container .discord span {
  color: yellow;
  text-transform: uppercase;
}
.social-container .container .btn {
  cursor: pointer;
  background-color: #10415b;
  padding: 10px 40px;
  border-radius: 20px;
  border: 2px solid #1770b0;
  outline: none;
  color: #FFF;
  font: bold 1em "Roboto", sans-serif;
  transition: 200ms ease-in-out;
}
.social-container .container .btn i {
  margin-right: 5px;
}
.social-container.closeTab {
  display: none;
}

.slider-container {
  margin: 10px 0;
  position: relative;
  top: 100px;
}
.slider-container .container {
  height: 400px;
}
.slider-container .container .swiper {
  position: relative;
  color: #FFF;
  width: 100%;
  height: 100%;
}
.slider-container .container .swiper .swiper-slide {
  overflow: hidden;
}
.slider-container .container .swiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.slider-container .container .swiper .swiper-wrapper .firstBack {
  background: url("../assets/sliderBack.jpg") center/cover;
}
.slider-container .container .swiper .swiper-wrapper .secondBack {
  background: url("../assets/sliderBack2.jpg") center/cover;
}
.slider-container .container .swiper .swiper-wrapper .thirdBack {
  background: url("../assets/sliderBack3.jpg") center/cover;
}
.slider-container.closeTab {
  display: none;
}

.news-container {
  position: relative;
  top: 120px;
}
.news-container .container .top-text {
  color: #FFF;
  background-color: #233245;
  padding: 20px 10px;
  font: normal 1em "Roboto", sans-serif;
  margin-bottom: 30px;
}
.news-container .container .news-content .news-card {
  margin: 20px 0;
  background-color: rgb(39, 56, 70);
}
.news-container .container .news-content .news-card .image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.news-container .container .news-content .news-card .content .card-top-text .heading {
  font: 900 1.5em "Roboto", sans-serif;
  color: #FFF;
  margin: 10px;
  text-transform: uppercase;
}
.news-container .container .news-content .news-card .content .card-top-text .description {
  font: normal 0.85em "Roboto", sans-serif;
  color: #ccc;
  margin: 10px;
  width: 95%;
}
.news-container .container .news-content .news-card .content .card-alt-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.news-container .container .news-content .news-card .content .card-alt-text .date {
  font: normal 0.8em "Roboto", sans-serif;
  color: rgb(146, 177, 204);
}
.news-container .container .news-content .news-card .content .card-alt-text button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #10415b;
  color: #FFF;
  font: normal 0.9em "Roboto", sans-serif;
}
.news-container .container .news-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  padding: 20px 0;
}
.news-container .container .news-pagination span {
  cursor: pointer;
  font: normal 1.5em "Roboto", sans-serif;
  border: 1px solid lightgray;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 5px;
}
.news-container.closeTab {
  display: none;
}

.details-container {
  padding: 20px 0;
  position: relative;
  top: 100px;
}
.details-container .top-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  background-color: #233245;
  padding: 20px 10px;
  font: normal 1em "Roboto", sans-serif;
  margin-bottom: 30px;
}
.details-container .top-text .date {
  font: normal 1em "Roboto", sans-serif;
  color: rgb(146, 177, 204);
}
.details-container .details-card {
  padding-bottom: 20px;
  margin: 20px 0;
  background-color: rgb(39, 56, 70);
}
.details-container .details-card .image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.details-container .details-card .content {
  height: 100%;
  position: relative;
}
.details-container .details-card .content .card-top-text .heading {
  font: 900 1.5em "Roboto", sans-serif;
  color: #FFF;
  margin: 10px;
  text-transform: uppercase;
}
.details-container .details-card .content .card-top-text .description, .details-container .details-card .content .card-top-text .long-description {
  font: normal 0.85em "Roboto", sans-serif;
  color: #ccc;
  margin: 10px;
  width: 95%;
}

.animated-line {
  position: relative;
  top: 100px;
  width: 100%; /* Çizginin genişliği */
  height: 5px; /* Çizginin kalınlığı */
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 100%;
  animation: rainbow 5s infinite linear;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
footer {
  position: relative;
  top: 100px;
  padding: 20px 10px;
  background: #233245 url("../assets/abstract.png") center/cover;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 29, 55, 0.9803921569); /* Adjust the opacity as needed */
  z-index: 1;
}
footer .container {
  position: relative;
  z-index: 1;
  color: white;
}
footer .container h3 {
  font: bold 1.3em "Roboto", sans-serif;
}
footer .container .first > p {
  font: normal 0.8em "Roboto", sans-serif;
  color: #e1e1e1;
}
footer .container .first, footer .container .second, footer .container .third, footer .container .fourth {
  margin: 5px 0;
}
footer .container a {
  display: flex;
  flex-direction: column;
  font: normal 0.8em "Roboto", sans-serif;
  color: #e1e1e1;
  margin: 8px 0;
}
footer .container .alt-content {
  font: normal 1em "Roboto", sans-serif;
  margin: 50px 0;
}
footer .container .alt-content span {
  font-size: 0.8em;
  color: #a8a8a8;
}

/*# sourceMappingURL=style.css.map */
